/*section5*/
.clearfix:before,.clearfix:after {
    content:'';
    display:table;
}
.clearfix:after{
    clear: both;
}
.clearfix {
    *zoom:1;
}
.five-box{
    position: relative;
    width: 900px;
    height: 100%;
    margin: 0 auto;
}
.five-address {
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
}
.five-tel {
    margin-top: 8px;
    font-size: 14px;
    color: #fff;
}
.five-tel span{
    padding-right: 8px;
    border-right: 1px solid #7d7d7d;
}
.five-partner {
    width: 628px;
    margin-top: 8px;
    font-size: 14px;
    color: #fff;
}
.five-partner i{
    float: left;
}
.five-partner ul {
    float: left;
    width: 550px;
}
.five-partner li{
    float: left;
    padding-right: 8px;
    padding-left: 8px;
    border-left: 1px solid #7d7d7d;
}
.five-partners {
    padding-left: 62px;
}
.five-copyright {
    width: 660px;
    color: #979797;
    font-size: 12px;
    padding-top: 20px;
    margin-top: 30px;
    border-top:1px solid #979797;
}
.first-ma {
    position: absolute;
    top:20px;
    right: 20px;
}
.first-ma img {
    width: 107px;
}
.first-ma div {
    color: #fff;
    font-size: 16px;
}
.section5 {
    background: #363636;
    overflow: hidden;
}