body,p,ul,ol,li,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,input{
    margin:0;
    padding:0;
    list-style:none;
}
img{
    border:0;
}
a{
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
body,html{
    font:62.5%/1.5 "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"宋体";
    background: #fff;
    box-sizing: border-box;
}
i,em {
    font-style: normal;
}
.container{
    padding: 0;
    background: #c72832;
}
.row{
    margin: 0;
}
.col-xs-12 {
    padding:0;
}
.clearfix:before,.clearfix:after {
    content:'';
    display:table;
}
.clearfix:after{
    clear: both;
}
.clearfix {
    *zoom:1;
}
/*banner-box*/
.banner-box {
    width: 100%;
}
.banner-box img{
    width: 100%;
}
.banner-box .col-xs-12 {
    position: relative;
}
.banner-opportunity {
    position: absolute;
    left: 50%;
    top:0;
    margin: 0 auto;
    border: 2px solid #e4c69d;
    font-size:1.6rem;
    text-align: center;
    padding: 3px 16px;
    color: #fff;
    margin-top: 4%;
    border-radius: 10px;
    background-color: rgba(116, 12, 31, 0.7);
}
.banner-opportunity span {
    color: #fff000;
}
.banner-inner {
    position: absolute;
    left: 5%;
    bottom: 6%;
    width: 90%;
}
.banner-inner li {
    float: left;
    width: 33.3333%;
}
.banner-inner li div {
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.banner-inner li div img {
    width: 100%;
}
.banner-lie0 {
    display: none;
    position: absolute;
    left: 3%;
    top: -5%;
    width: 80%!important;
}
.banner-hua {
    display: none;
    position: absolute;
    left: -24%;
    top:-57%;
    width: 150%!important;
}
@keyframes mysnow
{
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
        transform: rotate(720deg);
    }
    100%{
        transform: rotate(720deg);
        opacity: 0;
        top:100%;
    }
}
@-webkit-keyframes mysnow {
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
        -webkit-transform: rotate(720deg);
    }
    100%{
        -webkit-transform: rotate(720deg);
        opacity: 0;
        top:100%;
    }
}
@-moz-keyframes mysnow {
    0%{
        opacity:0;
    }
    50%{
        opacity:1;
        -moz-transform: rotate(720deg);
    }
    100%{
        -moz-transform: rotate(720deg);
        opacity: 0;
        top:100%;
    }
}
@keyframes mysnow1
{
    0%{
        opacity:0;
    }
    60%{
        opacity:1;
        transform: rotate(-720deg);
    }
    100%{
        transform: rotate(-720deg);
        opacity: 0;
        top:100%;
    }
}
@-webkit-keyframes mysnow1
{
    0%{
        opacity:0;
    }
    60%{
        opacity:1;
        -webkit-transform: rotate(-720deg);
    }
    100%{
        -webkit-transform: rotate(-720deg);
        opacity: 0;
        top:100%;
    }
}
@-moz-keyframes mysnow1
{
    0%{
        opacity:0;
    }
    60%{
        opacity:1;
        -moz-transform: rotate(-720deg);
    }
    100%{
        -moz-transform: rotate(-720deg);
        opacity: 0;
        top:100%;
    }
}
@keyframes mysnow2
{
    0%{
        opacity:0;
    }
    40%{
        opacity:1;
        transform: rotate(-720deg);
    }
    100%{
        transform: rotate(-720deg);
        opacity: 0;
        top:100%;
    }
}
@-webkit-keyframes mysnow2
{
    0%{
        opacity:0;
    }
    40%{
        opacity:1;
        -webkit-transform: rotate(-720deg);
    }
    100%{
        -webkit-transform: rotate(-720deg);
        opacity: 0;
        top:100%;
    }
}
@-moz-keyframes mysnow2
{
    0%{
        opacity:0;
    }
    40%{
        opacity:1;
        -moz-transform: rotate(-720deg);
    }
    100%{
        -moz-transform: rotate(-720deg);
        opacity: 0;
        top:100%;
    }
}
.banner-p1 {
    position: absolute;
    left: 10%;
    top: 24%;
    opacity:0;
    width: 14%!important;
    transform-origin: 50% -100%;
}
.animate1 {
    animation: mysnow 4s ;
    -webkit-animation: mysnow 4s ;
    -moz-animation: mysnow 4s ;
    -ms-animation: mysnow 4s ;
    -o-animation: mysnow 4s ;
}
.banner-p2 {
    position: absolute;
    left: 28%;
    top: 24%;
    opacity:0;
    width: 14%!important;
    transform-origin: 50% -100%;
}
.animate2 {
    animation: mysnow1 3s ;
    -webkit-animation: mysnow1 3s;
    -moz-animation: mysnow1 3s;
    -ms-animation: mysnow1 3s;
    -o-animation: mysnow1 3s;
}
.banner-p3 {
    position: absolute;
    left: 50%;
    top: 24%;
    opacity:0;
    width: 14%!important;
    transform-origin: 50% -100%;
}
.animate3 {
    animation: mysnow 4s ;
    -webkit-animation: mysnow 4s;
    -moz-animation: mysnow 4s;
    -ms-animation: mysnow 4s;
    -o-animation: mysnow 4s;
}
.banner-p4 {
    position: absolute;
    left: 70%;
    top: 24%;
    opacity:0;
    width: 14%!important;
    transform-origin: 50% -100%;
}
.animate4 {
    animation: mysnow2 3.5s ;
    -webkit-animation: mysnow2 3.5s;
    -moz-animation: mysnow2 3.5s;
    -ms-animation: mysnow2 3.5s;
    -o-animation: mysnow2 3.5s;
}
/*award-box*/
.award-box {
    width: 100%;
    background: url(../images/background.png) 0 0;
    background-size: 100%;
}
.award-inner {
    width:80%;
    margin: 0 auto;
    background: url("../images/awardInner.png") 0 0;
    background-size: 100% 100%;
}
.award-title {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.award-content {
    width: 90%;
    margin: 0 auto;
}
.award-content ul {
    width: 100%;
}
.award-content ul li {
    float: left;
    width: 33.3333%;
}
.award-content ul li div {
    width: 90%;
    margin: 0 auto;
    background: #fffae1;
    border-radius: 10px;
    padding: 6px 0;
    margin-top: 10%;
}
.award-content ul li div img {
    width: 80%;
    margin-left: 10%;
}
.award-content ul li div p {
    font-size: 1.2rem;
    color: #7b5601;
    text-align: center;
    margin-top: 6px;
}
.award-bottom {
    display: block;
    width: 80%;
    margin: 0 auto;
}
.ruler-box {
    width: 80%;
    margin: 0 auto;
    margin-top: 4%;
}
.ruler-title {
    font-size: 1.8rem;
    color: #7b5601;
}
.ruler-box li {
    list-style: decimal;
    font-size: 1.4rem;
    color: #7b5601;
    margin-left: 6%;
    text-align: justify;
    margin-top: 6px;
}
.ruler-bottom {
    font-size: 1.4rem;
    color: #7b5601;
    text-align: left;
    margin-top: 6px;
    margin-bottom: 6%;
}
@-webkit-keyframes yumove {
    0% {
        -webkit-transform: rotate(-30deg);
    }
    100% {
        -webkit-transform: rotate(30deg);
    }
}
.banner-chui {
    display: none;
    position: absolute;
    left: -29%;
    top:-43%;
    width: 54% !important;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    -webkit-animation: yumove 0.3s cubic-bezier(0.42, 0, 0.59, 0.97);
    -moz-animation: yumove 0.3s cubic-bezier(0.42, 0, 0.59, 0.97);
    -o-animation: yumove 0.3s cubic-bezier(0.42, 0, 0.59, 0.97);
}
/*mark-box*/
.mark-box {
    display: none;
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 100;
}
/*login-box*/
.login-box {
    display: none;
    position: fixed;
    left: 50%;
    top:50%;
    width: 70%;
    margin-left: -34%;
    background: #fff0b7;
    border: 4px solid #f9c404;
    border-radius: 10px;
    z-index: 101;
    transform: translateY(-500px);
    -webkit-transform: translateY(-500px);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    opacity: 0;
}
.login-box1 {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.login-img {
    width: 40%;
    margin: 0 auto;
}
.login-img img {
    width: 100%;
    margin-top: 10%;
}
.login-inner {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    color: #fe5a00;
    margin-top: 4%;
}
.close-img {
    position: absolute;
    right: 0;
    top:-40%;
    width: 10%;
    cursor: pointer;
}
.login-btn {
    position: relative;
    display: block;
    width: 40%;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 4%;
}
.login-btn img {
    width: 100%;
}
.login-btn span{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    font-size: 1.4rem;
    color: #fff0b7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*card-box*/
.card-box {
    position: fixed;
    left: 50%;
    top:8%;
    width: 80%;
    margin-left: -39%;
    z-index: 101;
    transform: translateY(-500px);
    -webkit-transform: translateY(-500px);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    opacity: 0;
}
.card-box1 {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.card-img {
    position: relative;
    width: 100%;
    z-index: 10;
}
.close-card {
    position: absolute;
    right: 10%;
    top:2%;
    width: 10%;
    cursor: pointer;
    z-index: 99;
}
.line {
    position: absolute;
    left: 50%;
    top: -20%;
    width: 18%;
    margin-left: -10%;
    z-index: 9;
}
.card-title {
    position: absolute;
    left: -1%;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    color: #fe5a00;
    z-index: 11;
}
.card-title span {
    color: #ff2400;
}
.card-btn {
    position: absolute;
    left: 28%;
    top:67%;
    display: block;
    width: 40%;
    z-index: 11;
}
.card-btn img {
    width: 100%;
}
.card-btn span {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    font-size: 1.4rem;
    color: #fff0b7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.card-content {
    position: absolute;
    left: 19%;
    top:51%;
    width: 60%;
    font-size: 1.2rem;
    color: #595757;
    z-index: 11;
    text-align: center;
}