@font-face {
  font-family: "iconfont";
  src: url('../css/iconfont.eot');
  /* IE9*/
  src: url('../css/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../css/iconfont.woff') format('woff'), /* chrome��firefox */ url('../css/iconfont.ttf') format('truetype'), /* chrome��firefox��opera��Safari, Android, iOS 4.2+*/ url('../css/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-icon=me]:before {
  font-family: 'iconfont';
  content: '\e607';
}
*[data-icon=me][icon-pos=top]:before {
  text-align: center;
  display: block;
}
*[data-icon=me][icon-pos=right]:before {
  content: '';
}
*[data-icon=me][icon-pos=right]:after {
  font-family: 'iconfont';
  content: '\e607';
}
*[data-icon=me][icon-pos=bottom]:before {
  content: '';
}
*[data-icon=me][icon-pos=bottom]:after {
  font-family: 'iconfont';
  content: '\e607';
  display: block;
  text-align: center;
}
*[data-icon=zhishi]:before {
  font-family: 'iconfont';
  content: '\e605';
}
*[data-icon=zhishi][icon-pos=top]:before {
  text-align: center;
  display: block;
}
*[data-icon=zhishi][icon-pos=right]:before {
  content: '';
}
*[data-icon=zhishi][icon-pos=right]:after {
  font-family: 'iconfont';
  content: '\e605';
}
*[data-icon=zhishi][icon-pos=bottom]:before {
  content: '';
}
*[data-icon=zhishi][icon-pos=bottom]:after {
  font-family: 'iconfont';
  content: '\e605';
  display: block;
  text-align: center;
}
*[data-icon=biye]:before {
  font-family: 'iconfont';
  content: '\e612';
}
*[data-icon=biye][icon-pos=top]:before {
  text-align: center;
  display: block;
}
*[data-icon=biye][icon-pos=right]:before {
  content: '';
}
*[data-icon=biye][icon-pos=right]:after {
  font-family: 'iconfont';
  content: '\e612';
}
*[data-icon=biye][icon-pos=bottom]:before {
  content: '';
}
*[data-icon=biye][icon-pos=bottom]:after {
  font-family: 'iconfont';
  content: '\e612';
  display: block;
  text-align: center;
}
*[data-icon=shixi]:before {
  font-family: 'iconfont';
  content: '\e613';
}
*[data-icon=shixi][icon-pos=top]:before {
  text-align: center;
  display: block;
}
*[data-icon=shixi][icon-pos=right]:before {
  content: '';
}
*[data-icon=shixi][icon-pos=right]:after {
  font-family: 'iconfont';
  content: '\e613';
}
*[data-icon=shixi][icon-pos=bottom]:before {
  content: '';
}
*[data-icon=shixi][icon-pos=bottom]:after {
  font-family: 'iconfont';
  content: '\e613';
  display: block;
  text-align: center;
}
