body, p, ul, ol, li, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, input,table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 0;
    border: 0;
}
img {
    border: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
body {
    font:14px/1.5 "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"宋体";
    background: #fff;
}
i,em{
    font-style: normal;
}
.clearfix:before,.clearfix:after {
    content:'';
    display:table;
}
.clearfix:after{
    clear: both;
}
.clearfix {
    *zoom:1;
}
/*banner-box*/
.banner-box {
    position: relative;
    width: 100%;
    min-width: 1057px;
    height: 300px;
}
.banner-box img {
    width: 100%;
    height: 100%;
}
.banner-inner {
    position: absolute;
    left:50%;
    top:0;
    width: 1265px;
    height: 300px;
    margin-left: -632px;
    background: url("../images/banner.png") no-repeat center 0;
}
.banner-title {
    position: absolute;
    top:40%;
    left:161px;
    width: 670px;
    height: 48px;
    font-size: 30px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    border: 1px solid #fff;
}
.banner-title1 {
    position: absolute;
    top:69%;
    left:161px;
    width: 129px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    font-size: 28px;
    border-radius: 4px;
    border: 1px solid #fff;
    cursor: pointer;
}
.bannerTitle-inner {
    display: none;
    position: absolute;
    top:47%;
    left:325px;
    width: 540px;
    height: 200px;
    border: 4px solid #2eb3ef;
    background: #fff;
}
.bannerPop-box {
    width: 494px;
    margin: 0 auto;
    margin-top: 16px;
}
.bannerPop-title {
    width: 100%;
    font-size: 14px;
    color: #f34747;
}
.bannerPop-content {
    width: 100%;
    font-size: 14px;
    color: #444444;
    text-align: justify;
    line-height: 26px;
    margin-top: 15px;
}
.bannerPop-close {
    position: absolute;
    top: -4px;
    right: -38px;
    width: 34px;
    height: 34px;
    background: #2eb3ef;
    cursor: pointer;
}
.bannerPop-close img {
    width: 100%;
}
/*contrast-box*/
.contrast-box {
    width: 100%;
    min-width: 1057px;
    height: 465px;
    background: #fff;
}
.contrast-title {
    width: 100%;
    text-align: center;
    height: 106px;
    line-height: 106px;
    color: #000000;
    font-size: 24px;
    background: url("../images/contrast-title.png") no-repeat center center;
}
.contrast-inner {
    width: 995px;
    margin: 0 auto;
}
.contrast-left {
    float: left;
    width: 400px;
}
.contrast-left-top {
    width: 337px;
    font-size: 14px;
    color: #666666;
    text-align: center;
    margin-left: 1px;
    margin-bottom: 4px;
}
.contrast-left-bottom {
    font-size: 14px;
    color: #666666;
}
.contrast-left-bottom i {
    margin-left: 81px;
}
.contrast-left-bottom em {
    margin-left: 78px;
}
.contrast-vs {
    float: left;
    width: 137px;
    padding-top: 40px;
    margin-left: 40px;
}
.contrast-right {
    position: relative;
    float: right;
    width: 328px;
    height: 282px;
}
.contrast-dash {
    float: right;
}
.contrast-save {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 56px;
    top:10px;
}
.contrast-secret {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 266px;
    top:10px;
}
.contrast-authority {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 56px;
    bottom:10px;
}
.contrast-legal {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 266px;
    bottom:10px;
}
.contrast-right-inner {
    position: absolute;
    left: 104px;
    top:92px;
    width: 170px;
}
.contrast-right-inner p{
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #666666;
}
.contrast-right-inner div{
    width: 100%;
    font-size: 14px;
    text-align: left;
    color: #666666;
    padding-left: 10px;
    padding-top: 14px;
}
/*process-box*/
.process-box {
    width: 100%;
    min-width: 1057px;
    height: 395px;
    background: #ebf2f8;
}
.process-title {
    width: 100%;
    text-align: center;
    height: 101px;
    line-height: 101px;
    background: url("../images/process-title.png") no-repeat center center;
    font-size: 24px;
    color: #222222;
}
.process-inner {
    width: 994px;
    margin: 0 auto;
}
.process-inner ul {
    width: 100%;
}
.process-inner ul li {
    float: left;
    width: 330px;
}
.process-inner ul li p {
    width: 228px;
    text-align: justify;
    font-size: 14px;
    color: #444444;
    margin-left: 20px;
}
.process-inner ul li div {
    width: 228px;
    text-align: justify;
    font-size: 14px;
    color: #444444;
    margin: 0 auto;
}
.process-inner ul li i {
    display: block;
    width: 228px;
    text-align: justify;
    font-size: 14px;
    color: #444444;
    margin-left: 68px;
}
/*advantage-box*/
.advantage-box {
    width: 100%;
    min-width: 1057px;
    height: 680px;
}
.advantage-title {
    width: 100%;
    height: 98px;
    line-height: 98px;
    text-align: center;
    background: url("../images/advantage-title.png") no-repeat center center;
    color: #222222;
    font-size: 24px;
}
.advantage-inner {
    position: relative;
    width: 900px;
    height: 442px;
    margin: 0 auto;
    background: url("../images/advantage-inner.png") no-repeat center 0;
}
.advantage-inner1 span{
    float: left;
    font-size: 24px;
    height: 38px;
    line-height: 37px;
    color: #ffc851;
    padding-right: 6px;
}
.advantage-inner1 img{
    float: left;
}
.advantage-inner1 div{
    float: left;
    height: 38px;
    color: #444444;
    font-size: 14px;
    line-height: 20px;
    padding-left: 6px;
}
.advantage1 {
    position: absolute;
    left: 48px;
    top:280px;
}
.advantage2 {
    position: absolute;
    right: 122px;
    top:163px;
}
.advantage3 {
    position: absolute;
    right: 38px;
    bottom:60px;
}
.advantage-content {
    text-align: center;
    font-size: 12px;
    color: #666666;
    margin-top: 20px;
}
.advantage-bottom {
    position: relative;
    width: 497px;
    margin: 0 auto;
    height: 50px;
    margin-top: 20px;
}
.advantage-bottom-left {
    float: left;
    width: 180px;
    height: 50px;
    background: #ffc851;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.advantage-bottom-right {
    float: right;
    background: #6ec6ee;
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.advantage-bottom-right a{
    color: #fff;
}
.advantage-bottom-right a:hover{
    color: #fff;
}
.advantage-bottom-inner {
    display: none;
    position: absolute;
    left: 50%;
    top:0;
    width: 763px;
    height: 439px;
    border: 4px solid #2eb3ef;
    background: #fff;
    margin-top: -505px;
    margin-left: -362px;
}
.advantage-bottom-content {
    width: 728px;
    height: 389px;
    overflow-y: scroll;
    margin-left: 26px;
    margin-top: 32px;
}
.advantage-bottom-title {
    font-size: 18px;
    color: #444444;
    height: 44px;
    line-height: 40px;
    margin-bottom: 10px;
}
.advantage-bottom-title span {
    float: left;
    font-size: 24px;
    color: #2eb3ef;
}
.advantage-bottom-title i{
    width: 630px;
    float: left;
    line-height: 44px;
    margin-left: 10px;
}
.advantage-bottom-text {
    margin-bottom: 14px;
}
.advantage-bottom-text span{
    float: left;
    font-size: 24px;
    color: #f34747;
}
.advantage-bottom-text i{
    width: 630px;
    float: left;
    font-size: 14px;
    color: #666666;
    line-height: 22px;
    text-align: justify;
    margin-top: 6px;
    margin-left: 10px;
}
.advantage-close {
    position: absolute;
    top: -4px;
    right: -38px;
    width: 34px;
    height: 34px;
    background: #2eb3ef;
    cursor: pointer;
}
.advantage-close img {
    width: 100%;
}
/*provide-box*/
.provide-box {
    width: 100%;
    height: 484px;
    background: #ebf2f8;
}
.provide-title {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: url("../images/provide-title.png")no-repeat center 0;
    text-align: center;
    color: #222222;
    font-size: 24px;
}
.provide-inner {
    width: 820px;
    margin: 0 auto;
}
.provide-box-left {
    position: relative;
    float: left;
    padding-top: 20px;
}
.provide-left-title {
    text-align: center;
    font-size: 14px;
    color: #444444;
}
.provide-left-title img {
    position: relative;
    top: 4px;
    left: 4px;
    cursor: pointer;
}
.provide-box-right {
    float: right;
}
.provide-box-right {
    padding-top: 50px;
}
.provide-right-title {
    width: 369px;
    text-align: center;
    font-size: 14px;
    color: #444444;
    margin-top: 20px;
}
.provide-left-tishi {
    display: none;
    position: absolute;
    left: 15px;
    top: 140px;
    width: 298px;
    height: 178px;
    border: 1px solid #999999;
    background: #fff;
    border-radius: 10px;
}
.provide-left-tishi p {
    padding: 15px 15px 0 15px;
    text-align: justify;
    font-size: 12px;
    color: #666666;
    line-height: 21px;
}
.provide-jiao {
    position: absolute;
    left: 50%;
    bottom:-7px;
    margin-left: -9px;
}
/*determine-box*/
.determine-box {
    width: 100%;
    min-width: 1057px;
    height: 424px;
}
.determine-title {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: url("../images/determine-title.png") no-repeat center 0;
    font-size: 24px;
    color: #222222;
    text-align: center;
}
.determine-inner {
    width: 950px;
    margin: 0 auto;
    padding-top: 10px;
}
.determine-left {
    float: left;
}
.determine-right {
    float: left;
    padding-left: 20px;
}
.determine-left div{
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.determine-gray {
    background: #afb3b7;
}
.determine-blue {
    background: #6ec6ee;
}
.determine-right ul li {
    float: left;
    margin-left: 80px;
}
.zhengshu2 {
    display: none;
}