body, p, ul, ol, li, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, input,table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 0;
    border: 0;
}
img {
    border: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
body {
    font:14px/1.5 "Microsoft YaHei";
    background: #fff;
}
i,em{
    font-style: normal;
}
.clearfix:before,.clearfix:after {
    content:'';
    display:table;
}
.clearfix:after{
    clear: both;
}
.clearfix {
    *zoom:1;
}
/*banner-box*/
.banner-box {
    position: relative;
    width: 100%;
    min-width: 1057px;
}
.banner-box img {
    float: left;
    width: 100%;
}
.banner-title {
    position: absolute;
    left: 24%;
    top: 74%;
    font-size: 22px;
    color: #d57113;
    text-decoration: underline;
}
.say-title {
    width: 970px;
    height: 65px;
    background: url("../images/say.png") no-repeat 0 0;
    margin: 0 auto;
    text-align: center;
    line-height: 64px;
    font-size: 24px;
    color: #ff9800;
    margin-top: 30px;
}
.say {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.swiper-container {
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 10px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 280px;
    border: 1px solid #ededed;
    overflow: hidden;
}
.say-pre {
    position: absolute;
    left: -50px;
    top:50%;
    margin-top: -64px;
    width: 42px;
    height: 128px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 10000;
    background:#b2b2b2 url("../images/pre.png") no-repeat center center;
}
.say-next {
    position: absolute;
    right: -50px;
    top:50%;
    margin-top: -64px;
    width: 42px;
    height: 128px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 10000;
    background:#b2b2b2 url("../images/next.png") no-repeat center center;
}
.swiper-mask {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.3;
    filter: alpha(opacity=30);
    z-index: 100;
}
.swiper-inner {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
}
.swiper-what {
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -26px;
    margin-top: -200px;
}
.swiper-bottom {
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 100%;
    height: 86px;
    background: #000000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.swiper-bottoms {
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 100%;
    height: 70px;
    padding-top: 16px;
}
.swiper-bottom-title {
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.swiper-bottom-title span {
    font-size: 18px;
}
.say-content {
    position: relative;
    width: 998px;
    margin: 0 auto;
    border:1px solid #efefef;
    background: #fefdfc;
    padding-bottom: 20px;
}
.say-show  {
    width: 100%;
    height: 270px;
    overflow: hidden;
}
.say-down {
    position: absolute;
    width: 100%;
    left: 0;
    bottom:0;
    text-align: center;
    background: #fff;
    color: #ff9228;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.say-down img {
    position: relative;
    right: 4px;
    top:2px;
}
#say-top {
    position: absolute;
    left: 50%;
    top:-7px;
    margin-left: -6px;
}
.say-inner {
    display: none;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}
.say-first {
    display: block;
}
.say-titles {
    width: 100%;
    font-size: 20px;
    color: #444444;
    text-align: center;
    margin-top: 26px;
}
.say-inners {
    text-align: justify;
    font-size: 16px;
    color: #888888;
    line-height: 40px;
    margin-top: 10px;
}
.say-inners i{
    color: #a65811;
}
.say-ad {
    width: 100%;
    margin-top: 87px;
}
.say-ad img {
    float: left;
    width: 100%;
}

/*ie*/
/*.center-slide {*/
    /*width: 300px;*/
/*}*/
.center-ul {
    position: relative;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    border: 1px solid #ededed;
    overflow: hidden;
}
.center-li {
    position: relative;
}
.gudong {
    width: 100%;
}


.box{
    width:1000px;  height: 260px;;margin:auto auto;position: relative;
}
.content{
    width: 1000px;  height: 260px;;margin:0 auto;overflow: hidden;
}
.content ul {
    position: relative;
    left: -140px;
}
.lefts{
    position: absolute;
    left: -50px;
    top:50%;
    width: 42px;
    height: 128px;
    cursor: pointer;
    border-radius: 6px;
    background:#b2b2b2 url("../images/pre.png") no-repeat center center;
    margin-top: -64px;
}
.rights{
    position: absolute;
    right: -50px;
    top:50%;
    width: 42px;
    height: 128px;
    cursor: pointer;
    border-radius: 6px;
    background:#b2b2b2 url("../images/next.png") no-repeat center center;
    margin-top: -64px;
}
.inner{
    width:2000px;height:100%;
}
.inner li{
    float:left;width:260px;  height: 260px;font-size: 50px;text-align: center;position: relative;
}
/*.inner li div{*/
    /*width:240px;height:240px;*/
/*}*/

.center-mask {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: #000000;*/
    /*opacity: 0.3;*/
    filter: alpha(opacity=30);
}
.center-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
}
.center-what {
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -26px;
    margin-top: -200px;
}
.center-bottom {
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 100%;
    height: 86px;
    background: #000000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.center-bottoms {
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 100%;
    height: 70px;
    padding-top: 16px;
}
.center-bottom-title {
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.center-bottom-title span {
    font-size: 18px;
}