body,p,ul,ol,li,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,input{
    margin:0;
    padding:0;
    list-style:none;
}
img{
    border:0;
}
a{
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
body{
    font:14px/1.5 "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"宋体";
}
i,em {
    font-style: normal;
}
.container{
    padding: 0;
}
.row{
    margin: 0;
}
.clearfix:before,.clearfix:after {
    content:'';
    display:table;
}
.clearfix:after{
    clear: both;
}
.clearfix {
    *zoom:1;
}
/*banner-box*/
.banner-box .col-xs-12 {
    padding: 0;
}
.banner-box .col-xs-12 img {
    width: 100%;
}
/*help-box*/
.help-box .col-xs-12{
    padding: 0;
}
.help-box .col-xs-12 ul {
    width: 84%;
    margin: 0 auto;
}
.help-box .col-xs-12 ul li {
    width: 33%;
    float: left;
    margin-top: 4%;
    margin-bottom: 4%;
}
.help-box .col-xs-12 ul li div {
    width: 80%;
    margin: 0 auto;
}
.help-box .col-xs-12 ul li div img {
    width: 100%;
}
.help-box .col-xs-12 ul li div p {
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    background: #6f9efc;
    margin-top: 10px;
}
.aoyun img {
    position: relative;
    top:14px;
}
/*rule-box*/
.rule-box {
    padding-bottom: 10%;
}
.rule-box .col-xs-12 {
    padding: 0;
}
.rule-title {
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
    font-size: 1.8rem;
    color: #393939;
    text-align: left;
}
.rule-box .col-xs-12 ul {
    width: 80%;
    margin: 0 auto;
}
.rule-box .col-xs-12 ul li {
    position: relative;
    margin-top: 4%;
}
.rule-box .col-xs-12 ul span {
    position: absolute;
    left: 0;
    top: 0;
}
.rule-box .col-xs-12 ul span img {
    position: relative;
    top: -2px;
    width: 16px;
}
.rule-box .col-xs-12 ul p {
    text-align: justify;
    font-size: 1.4rem;
    padding-left: 20px;
    color: #393939;
}