<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../src/bower_components/angular/angular.min.js"></script>
    <script src="js/main.js"></script>
    <title>Document</title>
    <style>
        body,html,ul,li{
            list-style: none;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div ng-controller="PlayController">
        <!--<button ng-click="play()" class="button" ng-show="!playing">play</button>-->
        <!--<button ng-click="stop()" Sclass="button alert" ng-show="playing">stop</button>-->
        <!--Playing audio: <b>{{playing}}</b>-->
        <ul id="programs_list" class="">
            <li ng-repeat="program in programs" ng-click="play(program)">
                <span class="large-12">{{program.title.$text}}</span>
            </li>

        </ul>
    </div>
</body>
</html>