<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://www.w3cschool.cc/try/angularjs/1.2.5/angular.min.js"></script>
    <script src="http://cdn.bootcss.com/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.js"></script>
</head>
<body ng-app="myApp" style="background:#4A4A4A" class="row">
    <input type="file">
    <!--<div style="color:#fff; font-size:30px; font-weight:bold; text-shadow:3px 3px 3px #ccc;-webkit-text-shadow:3px 3px 3px #ccc; text-align:center; margin-top:30px;">FE-演示平台</div>-->
    <!--<section class="row">-->
        <!--<section ng-controller="modalDemo" class="col-md-6 ng-scope" style="margin:40px auto; float:none; background:#fff; padding:30px;">-->
            <!--<script type="text/ng-template" id="myModelContent.html">-->
                <!--<div class="modal-header">-->
                    <!--<h3 class="modal-title">html5jq模态框</h3>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<ul>-->
                        <!--<li ng-repeat="item in items">-->
                            <!--<a ng-click="selected.item = item">{{item}}</a>-->
                        <!--</li>-->
                        <!--当前选择： <b>{{selected.item}}</b>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button class="btn btn-primary" ng-click="ok()">-->
                        <!--确认-->
                    <!--</button>-->
                    <!--<button class="btn btn-warning" ng-click="cancel()">退出</button>-->
                <!--</div>-->
            <!--</script>-->
            <!--<button class="btn btn-info" ng-click="open()">点我！</button>-->
            <!--<button class="btn btn-default" ng-click="open('lg')">大模态</button>-->
            <!--<button class="btn btn-default" ng-click="open('sm')">小模态</button>-->
            <!--<hr>-->
            <!--<div ng-show="selected" class="ng-binding ng-hide">当前选择：</div>-->
        <!--</section>-->
    </section>
    <script>
        angular.module('myApp',['ui.bootstrap']).controller('modalDemo',function($scope,$modal,$log){
            $scope.items = ['html5','jq','FE-演示平台'];
            $scope.open = function(size){
                var modalInstance = $modal.open({
                    templateUrl : 'myModelContent.html',
                    controller : 'ModalInstanceCtrl',
                    size : size,
                    resolve : {
                        items : function(){
                            return $scope.items;
                        }
                    }
                })
                modalInstance.result.then(function(selectedItem){
                    $scope.selected = selectedItem;
                },function(){
                    $log.info('Modal dismissed at: ' + new Date())
                })
            }
        })
        angular.module('myApp').controller('ModalInstanceCtrl',function($scope,$modalInstance,items){
            $scope.items = items;
            $scope.selected = {
                item : $scope.items[0]
            };
            $scope.ok = function(){
                $modalInstance.close($scope.selected.item);
            };
            $scope.cancel = function(){
                $modalInstance.dismiss('cancel');
            }
        })
    </script>
</body>
</html>