body,p,ul,ol,li,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,input{
    margin:0;
    padding:0;
    list-style:none;
}
img{
    border:0;
}
a{
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
body{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 62.5%;
}
i,em {
    font-style: normal;
}
.container{
    padding: 0;
}
.row{
    margin: 0;
}
#banner-box .col-xs-12{
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
}
.swiper-slide img {
    width: 100%;
}