.clearfix:before,.clearfix:after {
    content:'';
    display:table;
}
.clearfix:after{
    clear: both;
}
.clearfix {
    *zoom:1;
}
/*wcg-body*/
.wcg-body {
    padding-top: 50px;
}
.wcg-ucenter {
    width: 1000px;
    margin:0 auto;
}
/*leftmenu*/
.leftmenu {
    float: left;
    width: 188px;
    background: #fff;
}
/*rightcontent*/
.rightcontent {
    float: right;
    width: 800px;
}
.photo-box {
    width: 798px;
    height: 203px;
    border: 1px solid #e3e3e3;
    background: #fff;
}
.photo-content {
    position: relative;
    width: 760px;
    height: 152px;
    border-bottom: 1px solid #e3e3e3;
    margin: 0 auto;
}
.headphoto {
    position: absolute;
    left: 0;
    top:0;
    width: 97px;
    height: 152px;
    z-index: 10;
    overflow: hidden;
}
.headphoto a {
    display: block;
    width: 100%;
    height: 100%;
}
.headImg {
    position: absolute;
    left: 0;
    top:0;
    width: 97px;
    height: 152px;
    z-index: 9;
    background: url("../images/head-photo-default.png") no-repeat 0 center;
    line-height: 152px;
    overflow: hidden;
}
.headImg a {
    display: block;
    width: 100%;
    height: 100%;
}
.headImg a img {
    display: block;
    margin-top: 28px;
}
.headInfo {
    position: absolute;
    top:44px;
    left: 107px;
}
.headInfo li {
    float: left;
}
.name {
    height: 30px;
    font-size: 20px;
}
.wealth {
    margin-left: 70px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
}
.headInfo-bottom {
    margin-top: 20px;
}
.headInfo-bottom img{
    margin-right: 10px;
}
.saveLevel {
    font-size: 14px;
    margin-left: 40px;
}
.saveUp a{
    color: #0098e0;
    font-size: 14px;
}
.saveUp a:hover{
    color: #0098e0;
}
.privilege {
    position: absolute;
    right: 0;
    top:44px;
    font-size: 14px;
    cursor: pointer;
}
.photo-bottom {
    width: 760px;
    height: 50px;
    margin: 0 auto;
}
.photo-bottom li{
    position: relative;
    line-height: 50px;
    float: left;
    font-size: 14px;
    margin-right: 34px;
}
.photo-bottom li img {
    position: relative;
    left: 3px;
    top:2px;
    cursor: pointer;
}
.dialog {
    display: none;
    position: absolute;
    right: -28px;
    top:-12px;
    width: 100px;
    height: 26px;
    line-height: 26px;
    background: url("../images/diglog.png") no-repeat 0 0;
    font-size: 12px;
    text-align: center;
}
.recharge-btn {
    display: block;
    float: left;
    width: 65px;
    height: 28px;
    border-radius: 6px;
    text-align: center;
    line-height: 28px;
    margin-left: 100px;
    margin-top: 11px;
    font-size: 14px;
    color: #fff;
}
.recharge-btn:hover {
    color: #fff;
}
/*profit-box*/
.profit-box {
    width: 798px;
    height: 133px;
    border: 1px solid #e3e3e3;
    margin-top: 20px;
    background: #fff;
}
.profit-box-top {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e3e3e3;
    background: #fcfcfc;
    overflow: hidden;
}
.profit-top-logo {
    float: left;
    width: 20px;
    height: 15px;
    background: url("../images/icons.png") no-repeat -288px -37px;
    margin-top: 18px;
    margin-left: 21px;
}
.profit-top-content {
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
}
.profit-bottom {
    height: 82px;
}
.profit-bottom li {
    float: left;
    font-size: 20px;
    line-height: 82px;
}
/*property-box*/
.property-box {
    width: 798px;
    height: 363px;
    border: 1px solid #e3e3e3;
    margin-top: 20px;
    background: #fff;
}
.property-top {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e3e3e3;
    background: #fcfcfc;
    overflow: hidden;
}
.property-top-logo {
    float: left;
    width: 20px;
    height: 15px;
    background: url("../images/icons.png") no-repeat -23px -87px;
    margin-top: 18px;
    margin-left: 21px;
}
.property-top-content {
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
}
.property-bottom {
    width: 100%;
    height: 321px;
}
.property-bottom-left {
    float: left;
    width: 286px;
    height: 286px;
    margin-top: 17px;
    margin-left: 123px;
}
.property-bottom-right {
    float: right;
    width: 352px;
    height: 100%;
}
path {
    stroke-width: 0px;
}
.highcharts-data-labels g text {
    display: none;
}
.highcharts-data-labels {
    display: none;
}
.property-bottom-right ul {
    padding-top: 80px;
}
.property-bottom-right li {
    margin-bottom: 24px;
}
.property-point {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin-top: 6px;
    font-size: 16px;
    margin-right: 6px;
}
.tips {
    position: relative;
    left: 4px;
    top:1px;
    margin-right: 30px;
}
/*investment-box*/
.investment-box {
    width: 798px;
    height: 522px;
    border: 1px solid #e3e3e3;
    margin-top: 20px;
    background: #fff;
}
.investment-box-top {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e3e3e3;
    background: #fcfcfc;
    overflow: hidden;
}
.investment-box-logo {
    float: left;
    width: 20px;
    height: 15px;
    background: url("../images/icons.png") no-repeat -23px -87px;
    margin-top: 18px;
    margin-left: 21px;
}
.investment-box-content {
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
}
.investment-link {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.investment-box-bottom {
    width: 760px;
    height: 471px;
    margin: 0 auto;
}
.investment-bottom-title {
    width: 100%;
    height: 50px;
    background: #ff715f;
    border-bottom: 1px solid #ff5641;
}
.investment-bottom-title li {
    float: left;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.investment-bottom-title li div {
    height: 14px;
    line-height: 14px;
    margin-top: 20px;
    border-right: 1px solid #fff;
}
.investment-name {
    width: 163px;
}
.investment-money {
    width: 146px;
}
.investment-profit {
    width: 124px;
}
.investment-time {
    width: 145px;
}
.investment-state {
    width: 97px;
}
.investment-contract {
    width: 82px;
}
.investment-bottom-content {
    height: 60px;
}
.investment-inner{
    float: left;
    display: table;
    height: 60px;
    _position:relative;
    *position:relative;
    overflow:hidden;
}
.investment-box-vertical{
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;
    _position:absolute;
    _top:50%;
    _left: 0;
    *position:relative;
    *top:50%;
    *left: 0;
}
.investment-inner div i {
    _position:relative;
    _top:-50%;
    *position:relative;
    *top:-50%;
}
/*设置头像*/
/*mask*/
.mask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
    filter:alpha(opacity=50);
    z-index: 10000;
}
.set-box {
    display: none;
    position: fixed;
    left: 50%;
    top:50%;
    width: 598px;
    height: 448px;
    margin-left: -300px;
    margin-top: -225px;
    border: 1px solid #e3e3e3;
    z-index: 10001;
    background: #fff;
}
.set-top {
    width: 100%;
    overflow: hidden;
}
.set-top-left{
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #999999;
    margin-left: 10px;
    margin-top: 8px;
}
.set-close {
    float: right;
    margin-right: 10px;
    margin-top: 8px;
    cursor: pointer;
}
.set-middle {
    width: 100%;
    height: 265px;
}
.set-middle-left {
    float: left;
    width: 50%;
    height: 100%;
}
.set-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background: #eeeeee;
    margin-top: 22px;
}
#setImg{
    display: none;
    width: 100%;
}
.setImg-btn {
    width: 136px;
    height: 32px;
    background: #ff9800;
    text-align: center;
    line-height: 32px;
    color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}
#inputImage {
    display: none;
}
.set-middle-right {
    float: left;
    width: 50%;
    height: 100%;
}
.set-right-img{
    position: relative;
    width: 109px;
    height: 109px;
    margin: 0 auto;
    margin-top: 60px;
    overflow: hidden;
    background: #eeeeee;
    margin-bottom: 18px;
}
.head-photo-top {
    position: absolute;
    left: 0;
    top:0;
    z-index: 100;
    width: 101%;
    margin-left: -1px;
}
#headImg {
    position: absolute;
    left: 0;
    top:0;
    z-index: 90;
    width: 110px;
    height: 110px;
}
.set-show {
    width: 150px;
    font-size: 12px;
    color: #999999;
    text-align: left;
    margin: 0 auto;
    margin-top: 10px;
}
.set-bottom {
    width: 242px;
    margin: 0 auto;
    margin-top: 88px;
}
.set-bottom-left {
    float: left;
    width: 100px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    background: #ff5736;
    cursor: pointer;
}
.set-bottom-right {
    float: right;
    width: 100px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: #999999;
    background: #eeeeee;
    cursor: pointer;
}