.clearfix:before,.clearfix:after {
    content:'';
    display:table;
}
.clearfix:after{
    clear: both;
}
.clearfix {
    *zoom:1;
}
/*wcg-body*/
.wcg-body {
    padding-top: 50px;
}
.wcg-ucenter {
    width: 1000px;
    margin:0 auto;
}
/*leftmenu*/
.leftmenu {
    float: left;
    width: 188px;
    background: #fff;
}
/*rightcontent*/
.rightcontent {
    float: right;
    width: 800px;
}
.photo-box {
    width: 798px;
    height: 203px;
    border: 1px solid #e3e3e3;
    background: #fff;
}
.photo-content {
    position: relative;
    width: 760px;
    height: 152px;
    border-bottom: 1px solid #e3e3e3;
    margin: 0 auto;
}
.headphoto {
    position: absolute;
    left: 0;
    top:0;
    width: 97px;
    height: 152px;
    z-index: 10;
    overflow: hidden;
}
.headphoto a {
    display: block;
    width: 100%;
    height: 100%;
}
.headImg {
    position: absolute;
    left: 0;
    top:0;
    width: 97px;
    height: 152px;
    z-index: 9;
    background: url("../images/head-photo-default.png") no-repeat 0 center;
    line-height: 152px;
    overflow: hidden;
}
.headImg a {
    display: block;
    width: 100%;
    height: 100%;
}
.headImg a img {
    display: block;
    margin-top: 28px;
}
.headInfo {
    position: absolute;
    top:44px;
    left: 107px;
}
.headInfo li {
    float: left;
}
.name {
    height: 30px;
    font-size: 20px;
}
.wealth {
    margin-left: 70px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
}
.headInfo-bottom {
    margin-top: 20px;
}
.headInfo-bottom img{
    margin-right: 10px;
}
.saveLevel {
    font-size: 14px;
    margin-left: 40px;
}
.saveUp a{
    color: #0098e0;
    font-size: 14px;
}
.saveUp a:hover{
    color: #0098e0;
}
.privilege {
    position: absolute;
    right: 0;
    top:44px;
    font-size: 14px;
    cursor: pointer;
}
.photo-bottom {
    width: 760px;
    height: 50px;
    margin: 0 auto;
}
.photo-bottom li{
    position: relative;
    line-height: 50px;
    float: left;
    font-size: 14px;
    margin-right: 34px;
}
.photo-bottom li img {
    position: relative;
    left: 3px;
    top:2px;
    cursor: pointer;
}
.dialog {
    display: none;
    position: absolute;
    right: -28px;
    top:-12px;
    width: 100px;
    height: 26px;
    line-height: 26px;
    background: url("../images/diglog.png") no-repeat 0 0;
    font-size: 12px;
    text-align: center;
}
.recharge-btn {
    display: block;
    float: left;
    width: 65px;
    height: 28px;
    border-radius: 6px;
    text-align: center;
    line-height: 28px;
    margin-left: 100px;
    margin-top: 11px;
    font-size: 14px;
    color: #fff;
}
.recharge-btn:hover {
    color: #fff;
}
/*profit-box*/
.profit-box {
    width: 798px;
    height: 133px;
    border: 1px solid #e3e3e3;
    margin-top: 20px;
    background: #fff;
}
.profit-box-top {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e3e3e3;
    background: #fcfcfc;
    overflow: hidden;
}
.profit-top-logo {
    float: left;
    width: 20px;
    height: 15px;
    background: url("../images/icons.png") no-repeat -288px -37px;
    margin-top: 18px;
    margin-left: 21px;
}
.profit-top-content {
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
}
.profit-bottom {
    height: 82px;
}
.profit-bottom li {
    float: left;
    font-size: 20px;
    line-height: 82px;
}
/*property-box*/
.property-box {
    width: 798px;
    height: 363px;
    border: 1px solid #e3e3e3;
    margin-top: 20px;
    background: #fff;
}
.property-top {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e3e3e3;
    background: #fcfcfc;
    overflow: hidden;
}
.property-top-logo {
    float: left;
    width: 20px;
    height: 15px;
    background: url("../images/icons.png") no-repeat -23px -87px;
    margin-top: 18px;
    margin-left: 21px;
}
.property-top-content {
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
}
.property-bottom {
    width: 100%;
    height: 321px;
}
.property-bottom-left {
    float: left;
    width: 286px;
    height: 286px;
    margin-top: 17px;
    margin-left: 123px;
}
.property-bottom-right {
    float: right;
    width: 352px;
    height: 100%;
}
path {
    stroke-width: 0px;
}
.highcharts-data-labels g text {
    display: none;
}
.highcharts-data-labels {
    display: none;
}
