body, p, ul, ol, li, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, input {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    border: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
body {
    font:14px/1.5 "Microsoft YaHei";
    background: #f6f7f8;
}
i,em{
    font-style: normal;
}
/*font-color*/
.blackFont {
    color:#333333;
}
.grayFont {
    color:#999999;
}
.redFont {
    color: #ff2b01;
}
.blueFont {
    color: #0098e0;
}
.orangeFont {
    color: #ff9800;
}
.greenFont {
    color: #66bc25;
}
/*font-click-color*/
.blueFontClick {
    color: #0c4a7f;
    text-decoration: underline;
}
/*background-color*/
.redBg{
    background: #ff2c01;
}
.orangeBg {
    background: #f46902;
}
.greenBg{
    background:#66bc25;
}
/*background-btn-color*/
.redBtnBg{
    background: #ff5736;
}