<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../src/bower_components/angular/angular.min.js"></script>
</head>
<body ng-app="myApp">
    <label>Their URL field</label>
    <input type="text" ng-model="theirUrl">
    <div my-directive some-attr="theirUrl" my-link-text="Click me"></div>
    <script>
        var app=angular.module('myApp',[]);
        app.directive('myDirective',function(){
            return {
                restrict:'A',
                replace:true,
                scope:{
                    myUrl:'=someAttr',
                    myLinkText:'@'
                },
                template:'\
                <div>\
                    <label>My Url Filed:</label>\
                    <input type="text"\
                        ng-model="myUrl"/> \
                    <a href="{{myUrl}}">{{myLinkText}}</a>\
                </div>'
            }
        })
    </script>
</body>
</html>